.adminHome-ttl{
    margin: auto;
    text-align: center;  
}
.admin-ctn{
    text-align: center;
    width:100%;
    .admin-ttle{
        color:red;
    }
    a{
        text-decoration: none;
        font-size: small;
    }
    button{
        margin:0.1em;
    }
    button:focus{
        background-color: gold;
        color:red
    }
    
}