header {
  display: flex;
  width: 100%;
  text-decoration: none;
  text-align: center;
  justify-content: center;
}
header .lang {
  display: block;
  width: 3vw;
}
header .lang p {
  height: 1px;
  position: relative;
  padding-top: 0.5em;
  top: -0.8em;
  left: 1.5em;
  font-size: 0.8em;
}
header .headerLogoSlogan {
  text-align: center;
  display: block;
  width: 30%;
  margin: auto;
  position: relative;
  left: 4em;
}
header .headerLogoSlogan .headerLogo {
  padding-top: 2em;
  width: 5em;
}
header .logbtn {
  color: black;
  text-decoration-line: none;
  font-size: 0.8em;
  width: 100%;
  position: relative;
  left: 6em;
  margin-right: 0.5em;
  border: 0.5px solid black;
  padding: 0.2em;
  border-radius: 20px;
}
header .logname {
  position: relative;
  left: 4.5em;
}
header .cart-btn {
  display: flex;
  position: relative;
  top: 4.8em;
  left: 1.5em;
  width: auto;
  text-align: center;
  justify-content: center;
  height: 2em;
}
header .cart-btn p {
  position: relative;
  top: 0.3em;
  right: 2.2em;
}

nav {
  display: block;
  width: 90%;
  margin-top: 0.5em;
  text-align: center;
  position: relative;
  justify-content: space-between;
  left: 1em;
}
nav a {
  text-decoration-line: none;
  justify-content: space-between;
  font-size: 0.9em;
  color: brown;
}

.burger-icon {
  display: flex;
  padding-top: 0.5em;
  position: relative;
  left: 90%;
}

footer {
  margin-top: 2em;
  display: flex;
  width: 100vw;
  text-align: center;
  justify-content: space-around;
  font-size: 0.8em;
  position: relative;
  right: 0.6em;
  border-top: 1px solid black;
}
footer a {
  text-decoration: none;
}

section .home-title {
  border-top: 1px solid black;
  padding-top: 0.5em;
  text-align: center;
  font-size: 1.5em;
}
section .pro-ctn {
  text-align: center;
  margin-bottom: 2em;
}
section .pro-ctn .pro-label {
  margin-top: 1em;
  font-size: 1em;
}
section .pro-ctn .pro-img {
  width: 200px;
  height: auto;
  text-align: center;
}
section .pro-ctn p {
  text-align: center;
  padding: 0.5em;
  font-size: 0.8em;
}

.cat-ctn {
  text-align: center;
  margin-bottom: 2em;
}
.cat-ctn img {
  margin-top: 1em;
  width: 200px;
}
.cat-ctn h2 {
  padding-top: 2em;
  border-top: 1px solid black;
  font-size: 1.3em;
}
.cat-ctn p {
  margin: 2em;
  font-size: 0.8em;
}
.cat-ctn a {
  text-decoration-line: none;
}

form {
  border-top: 1px solid black;
  padding-top: 0.5em;
  text-align: center;
  display: block;
  width: auto;
  padding-bottom: 1em;
  margin: auto;
  width: 80%;
}
form input {
  margin: 0.4em;
}
form button {
  margin-top: 0.5em;
}

.linktoup {
  margin-top: 3em;
  font-size: 0.7em;
  position: relative;
}

.adminHome-ttl {
  margin: auto;
  text-align: center;
}

.admin-ctn {
  text-align: center;
  width: 100%;
}
.admin-ctn .admin-ttle {
  color: red;
}
.admin-ctn a {
  text-decoration: none;
  font-size: small;
}
.admin-ctn button {
  margin: 0.1em;
}
.admin-ctn button:focus {
  background-color: gold;
  color: red;
}

.msg_red {
  color: red;
  font-size: 1.2rem;
}

.msg_green {
  color: green;
  font-size: 1.2rem;
}

.form-add {
  margin-top: 2em;
  display: block;
  text-align: center;
  justify-content: center;
  padding: 2em;
}
.form-add textarea {
  margin-top: 1em;
  max-width: 80%;
}
.form-add input {
  margin: auto;
  text-align: center;
  display: block;
  margin-top: 1em;
}
.form-add label {
  color: red;
  margin-top: 1em;
  margin-bottom: 0.5em;
  display: block;
}
.form-add button {
  margin-top: 2em;
}

.form-edit {
  margin-top: 2em;
  display: block;
  text-align: center;
  justify-content: center;
  padding: 2em;
}
.form-edit textarea {
  margin-top: 1em;
  max-width: 80%;
}
.form-edit input {
  margin: auto;
  text-align: center;
  display: block;
  margin-top: 1em;
}
.form-edit label {
  color: red;
  margin-top: 1em;
  margin-bottom: 0.5em;
  display: block;
}
.form-edit button {
  margin-top: 2em;
}

.edit-title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
}

.labelEditPanel {
  display: block;
  text-align: center;
}

.main-edit-tabs {
  width: 90%;
  height: auto;
  margin: 0.3em;
  font-size: 0.85em;
  justify-content: space-evenly;
}
.main-edit-tabs th {
  padding-left: 0.6em;
}
.main-edit-tabs .name-edit-tabs {
  text-decoration: underline;
}
.main-edit-tabs .edit-tabs-img {
  width: 3em;
  height: auto;
  margin-top: 1em;
}

.edit-pen {
  color: green;
  font-size: 1em;
}

.edit-trash {
  color: red;
  font-size: 1em;
}

.detailpanel {
  background-color: lightgray;
  border-radius: 1em;
  margin: auto;
  margin-bottom: 2em;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 0.7em;
}
.detailpanel .productname {
  display: block;
  margin: 2em;
  font-size: 1em;
  text-align: center;
}
.detailpanel p {
  display: block;
  margin: auto;
  padding-right: 0.5em;
}
.detailpanel a {
  margin: auto;
  padding-right: 0.5em;
  padding-left: 0.3em;
}

.backbutton {
  color: black;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 1.5em;
  margin-top: 1em;
  margin-bottom: 1.5em;
  font-size: 1.5em;
}

.form-title-edit {
  justify-content: center;
  text-align: center;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
}

.edit-img {
  justify-content: center;
  text-align: center;
}
.edit-img img {
  font-size: 1em;
  width: 20%;
  height: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container .form-group {
  margin-bottom: 1em;
}
.form-container label {
  margin-bottom: 0.5em;
}
.form-container .input {
  padding: 0.3em;
  width: 80%;
  text-align: center;
}

.detail-product-name {
  text-align: center;
  font-size: 1.3em;
  width: 100%;
  text-transform: capitalize;
  margin: auto;
  padding-top: 0.5em;
}

.details-contener {
  margin-left: 5em;
  justify-content: center;
  text-align: center;
  display: block;
  height: auto;
}

.details-card {
  width: 20%;
  display: flex;
  margin-top: 0em;
  margin-left: 2em;
}
.details-card img {
  position: relative;
  bottom: 3em;
  margin-top: auto;
  width: 10em;
  height: auto;
}
.details-card .details-select {
  width: 14em;
  margin-bottom: 1em;
  font-size: 0.6em;
  height: 3em;
}
.details-card .details-imgs {
  width: 7em;
  margin: auto;
}
.details-card .details-childimg {
  display: flex;
}
.details-card .details-childimg img {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 3em;
  height: auto;
  margin-right: 0.5em;
  margin-top: 1em;
}
.details-card .details-name {
  margin-top: 1em;
  display: block;
  text-align: center;
}
.details-card .details-descr {
  width: auto;
  font-size: 1em;
  height: auto;
  margin: auto;
}
.details-card .details-color::-webkit-scrollbar {
  width: 6px;
}
.details-card .details-color::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 5px;
}
.details-card .details-color {
  width: 8em;
  height: 10em;
  text-align: center;
  justify-content: center;
  overflow: auto;
  margin-bottom: 2em;
}
.details-card .details-color .wrap {
  overflow-wrap: break-word;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 2em;
}
.details-card button {
  margin-left: 0.2em;
  height: 3em;
  font-size: 0.6em;
}

.product-ctn {
  width: 100%;
  text-align: center;
  margin-top: 1em;
  border-top: 1px solid black;
}
.product-ctn h2 {
  color: black;
  margin-bottom: 0;
}
.product-ctn a {
  text-decoration: none;
}
.product-ctn img {
  width: 200px;
  height: auto;
  margin-bottom: 0.5em;
}
.product-ctn p {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 2em;
}/*# sourceMappingURL=App.css.map */