<main>
    <form action="/signin/log"method="post">
    <input type="text" name = "alias" placeholder ="votre Nom" aria-placeholder ="renseignez votre nom">
    <input type="email" name = "email" placeholder ="votre mail" aria-placeholder ="renseignez votre mail">
    <input type="password" name = "password" placeholder ="votre mot de passe" aria-placeholder ="renseignez votre mot de passe">
    <button type = "submit">Connexion</button>
    </form>

</main>